* {
	padding: 0;
	margin: 0;
	border: none;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: $back;
    color: $text;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}
nav, footer, header, aside {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    display: inline;
}
button {
    cursor: pointer;
}
a { 
    text-decoration: none;
    color: inherit;
}
.header {
    color: $header-text;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 3px #35383f;
    .header__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        .header__lang {
            width: 58px;
            height: 60px;
            border-right: 2px solid #35383f;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .header__title {
            margin: 0 32px 0 24px;
        }
        .header__desc {
            margin-top: 1px;
        }
        .header__globe {
            width: 22px;
            height: 22px;
        }
        .header__links {
            display: flex;
            align-items: center;
            .header__link {
                margin-right: 20px;
                &:last-child {
                    margin-right: 0;
                    &::after{
                        position: absolute;
                        content: '▾';
                        top: 20px;
                    }
                }
                &:hover {
                    color: #e3796a;
                }
            }
            .active {
                color: #e3796a;
                &:hover {
                    color: #d24239;
                }
            }
        }
    }
    .header__other {
        display: flex;
        flex-direction: row;
        margin-right: 24px;
        .header__buttons {
            .header__btn {
                width: fit-content;
                margin-right: 5px;
                height: 32px;
                color: white;
                background-color: $back;
                border: solid 2px #35383f;
                border-radius: 34px;
                padding: 2px 12px;
                &:hover {
                    color: #e3796a; 
                }
            }
            .active {
                color: #e3796a;
                border-color: #602620;
                &:hover {
                    border-color: #e3796a; 
                }
            }
        }
        .header__menu {
            display: flex;
            align-items: center;
            .header__item {
                margin-right: 11px;
                &:last-child {
                    margin-right: 0;  
                }
                img {
                    height: 25px;
                    width: 30px;
                }
            }
        }
    }
}
.page {
    display: flex;
    flex-direction: row;
    .navigation {
        font-size: 14px;
        line-height: 1.25;
        border-right: 1px solid #35383f;
        background-color: $header-back;
        width: 238px;
        padding: 25px;
        min-height: 100vh;
        .navigation__items {
            display: flex;
            flex-direction: column;
            .navigation__chapter {
                margin-top: 22px;
                color: #696e79;
            }
            .navigation__paragraph {
                margin-top: 12px;
                width: fit-content;
                &:nth-last-child(-n+2) {
                    margin-top: 24px;
                }
                &:hover {
                    color: #e3796a; 
                }
            }
        }
    }
    .navigation__menu {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 265px;
        top: 74px;
        width: 44px;
        height: 44px;
        &:hover {
            border-radius: 50%;
            background-color: #292c31;
        }
    }
    .navigation__map {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 265px;
        top: 130px;
        width: 44px;
        height: 44px;
        &:hover {
            border-radius: 50%;
            background-color: #292c31;
        }
    }
    .content {
        display: flex;
        justify-content: center;
        padding-top: 43px;
        width: 100%;
        .content__body {
            width: $content-width;
            .content__subtitle {
                font-weight: bold;
                cursor: pointer;
                font-size: 1.5rem;
                &:hover {
                    color: #666666;
                    text-decoration: underline;
                }
                &:last-child {
                    margin-left: 10px;
                    &:hover {
                        color: #e3796a;
                    }
                }
            }
            .content__arrow-left {
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                width: 81px;
                height: 68px;
                left: 246px;
                top: 44.5vh;
                &:hover {
                    background-color: #292c31;
                }
            }
            .content__arrow-right {
                display: flex;
                justify-content: center;
                align-items: center;
                position: fixed;
                width: 81px;
                height: 68px;
                right: 0;
                top: 44.5vh;
                &:hover {
                    background-color: #292c31;
                }
            }
            .content__info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                img {
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                }
                .content__breadcrumb {
                    display: flex;
                    align-items: center;
                    .content__nav {
                        cursor: pointer;
                        color: #6ba0ef;
                        margin: 0 8px;
                        &:hover {
                            color: #e3796a;
                            text-decoration: underline;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                .content__updatedat {
                    position: relative;
                    display: flex;
                    align-items: center;
                    .content__date {
                        color: $header-text;
                        &::before {
                            position: absolute;
                            content: url(../images/calendar.svg);
                            left: -26px;
                            top: -2px;
                        }
                    }
                }
            }
            .content__text {
                margin-top: 1.4rem;
                .content__title {
                    font-weight: bold;
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                .content__paragraph {
                    margin: 1.15rem 0 1.65rem
                }

                a {
                    color: #6ba0ef;
                    &:hover {
                        text-decoration: underline;
                        color: #e3796a   
                    }
                }
                p {
                    margin: 12px 0;
                    &:last-child {
                        margin: 1px 0 20px 0;
                    }
                }
                ul {
                    margin: 20px 0 20px 18px
                }
                li {
                    margin: 5px 0;
                }
                .content__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    height: 200px;
                    border-radius: 17px;
                    border: 3px solid #35383f;
                    padding: 24px 0 0 24px;
                    margin-bottom: 1rem;
                    .content__question {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }

                }
            }
        }
    }
}
.comments {
    margin-top: 2rem;
    .comments__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .comments__important {
            cursor: pointer;
            color: $header-text;
            &:hover {
                color: #e3796a;
            }
        }
    }
    .comments__counter {
        color: #aeafb0;
        margin: 1.2rem 0;
        font-weight: bold;
    }
    .comments__textarea {
        padding-top: 1.2rem;
        margin-top: 1.2rem;
        border-top: white solid 2px;
        display: flex;
        justify-content: space-between;
        img {
            width: 52px;
            height: 52px;
            border-radius: 16px;
        }
        textarea {
            resize: none;
            width: 694px;
            height: 75px;
            border-radius: 16px;
            overflow: auto;
            overflow-wrap: break-word;
            padding: 20px;
            font-size: 15px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #687a86
            }
        } 
    }
    .comments__data {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.2rem 0;
        padding-left: 66px;
        font-size: 13px;
        input {
            border-radius: 8px;
            border: 2px solid #dbdfe4;
            width: 300px;
            height: 20px;
            padding: 9px 5px;
            &:focus {
                outline: none;
            }
        }
        input[type="date"] {
            width: 100px;
            color: #666666;
        }
        button {
            background-color: #2e9fff;
            width: 95px;
            height: 29px;
            border-radius: 14px;
            font-weight: 700;
            font-size: 15px;
            line-height: 1;
            color: white;
            padding: 7px 15px;
            &:hover {
                background-color: #2e9dff98;
            }
            &:active {
                background-color: #2e9dff5d;
            }
        }
    }
    .solo-comments {
        height: fit-content;
        margin: 1.5rem 0;
        font-size: 15px;
        line-height: 1;
        display: flex;
        flex-direction: column;
        .solo-comments__body {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .solo-comments__leftblock {
                display: flex;
                flex-direction: row;
                .solo-comments__avatar {
                    width: 52px;
                    height: 52px;
                    border-radius: 16px;
                    margin-right: 1rem;
                }
                .solo-comments__info {
                    display: flex;
                    flex-direction: column;
                    .solo-comments__name {
                        margin-top: 8px;
                        color: rgb(132, 160, 239);
                        font-weight: bold;
                    }
                    .solo-comments__date {
                        font-size: 12px;
                        color: rgba(255,255,255,.6);
                        margin: 6px 0;
                    }
                    .solo-comments__text {
                        width: 660px;
                    }
                }
            }
            .solo-comments__actions {
                img {
                    cursor: pointer;
                }
            }
        }
    }
}
